<div class="form">
    <form [formGroup]="formItem" (ngSubmit)="onSubmit()">
        <mat-form-field class="taskInput">
          <mat-label>Tarefa:</mat-label>
          <input 
          type="text" 
          formControlName="task" 
          id="task" 
          required 
          matInput
          >
        </mat-form-field>
        
        <button 
        class="taskButton"
        mat-raised-button 
        [disabled]="!formItem.valid"
        disabledInteractive 
        matTooltip="Tarefa precisa ser inserido!">Adicionar Tarefa</button>
    </form>
</div>